.formcontato--esquerda {
    width: 45%;
    margin: auto;
    position: relative;
}

.formcontato__img{
    width: 80%;
    margin: auto;
    display: block;
}

.formcontato--esquerda::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 75px;
    right: 77px;
    bottom: -1px;
    border: 2px solid var(--color-principal);
    border-radius: 10px;
    box-shadow: 0 0 50px var(--color-principal), 0 0 20px var(--color-principal), 0 0 30px var(--color-principal), 0 0 40px var(--color-principal), 0 0 50px var(--color-principal), 0 0 60px var(--color-principal), 0 0 70px var(--color-principal);
}
@media (max-width: 768px) {
    .formcontato--esquerda {
        display: none;
    }

}